
.flex_homecard{
    display: flex;
}
.control-btn button {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .control-btn .next {
    position: absolute;
    top: 50%;
    right: 2%;
  }
  
  .control-btn .prev {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 99;
  }